* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-application {
  background-color: #262626;
  color: #bcb4b4;
  font-size: 20px;
}

@media (prefers-color-scheme: dark) {
  .dark-theme {
    background-color: #262626;
    color: #dadada;
  }
}

@media (prefers-color-scheme: light) {
  .light-theme {
    background-color: #ffffff;
    color: #a66c76;
  }
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  letter-spacing: 1px;
  line-height: 30px;
}
