:root {
  --bg-color: #ffffff;
  --text-color: #333333;
  --contact-bg: #ffffff;
}

.dark {
  --bg-color: #262626;
  --text-color: #dadada;
  --contact-bg: #1e1e1e;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'monospace';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: var(--bg-color);
  color: var(--text-color);
}

@media (prefers-color-scheme: dark) {
  .dark-theme {
    background-color: var(--bg-color);
    color: var(--text-color);
  }
}

/* @media (prefers-color-scheme: light) {
  .light-theme {
    background-color: #ffffff;
    color: #a66c76;
  }
} */
