body {
  margin: 0;
  font-family: "RobotoMono Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  background-color: #262626;
  color: #BCB4B4;
  font-size: 20px;
}